.copy{
    width: 100%;
    border-bottom: 1px solid white;
}
.copy p{
    margin-bottom: 0px;
    font-size: 13px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EBD292;
    /* color: black !important; */
}
.footer-table-1, .footer-table-2 a{
    text-decoration: none;
    color: rgb(64, 17, 17);
}
.footer-table-3{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;
}
.table-3{
    width: 10%;
}
.phone-num img{
    width: 6%;
}
.phone-num{
    display: flex;
    align-items: center;
}
.phone-number h3{
    margin-left: 7px;
}

.email-big img{
    width: 20%;
    height: 10%;
    margin-top: 10px;
}
.email-big{
    display: flex;
    max-width: 200px;
}
.phoneNumber{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phoneNumber h3{
    margin: 0px;
}
.number{
    display: flex;
    align-items: center;
    width: 100%;
}
.footer-logo img{
    max-width: 170px;
    min-width: 50px;
}
.footer-table-2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    flex-direction: column;
}
.footer-table-2 a:hover{
    text-decoration: solid;
}

.copy{
    color:rgb(64, 17, 17);
    border-top: 2px solid;
    width: 100%;
    text-align: center;
}
.copy a{
    color: rgb(55, 92, 30);
    font-size: 17px;
}

.facebook-instagram-green-icons{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.instagram-green-icon img{
    max-width: 30px;
}
.facebook-green-icon{
    /* padding-left: 10px; */
    padding-top: 2px;
}
.facebook-green-icon img{
    max-width: 13px;

}
.instagram-green-icon:hover , .facebook-green-icon:hover{
    opacity: 0.9;
}
.phone-icon img{
    max-width: 5%;
}
